[submodule "docker-postgres-upgrade"]
	path = docker-postgres-upgrade
	url = https://github.com/tianon/docker-postgres-upgrade
[submodule "supabase-postgres"]
	path = supabase-postgres
	url = https://github.com/supabase/postgres.git
[submodule "pgconfig-validator"]
	path = pgconfig-validator
	url = https://gitlab.com/ongresinc/pgconfig-validator.git
